body{
    width: 100%;
    height: 100%;
    margin: 0;
    color: #555;
    font-family: 'Vollkorn',serif;
}

.container{
    width: 50%;
    height: 100vh;
    margin: auto;
    padding-top: 20px;
}

h1{
    color: black;
    font-family: 'IBM Plex Sans',Helvetica,sans-serif;
    font-size: 1.5em;
}

h1:hover{
    color: #007cba;
    cursor: pointer;
}

/* For the Nav or links */
.links{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-bottom: 70px;
}

.links li{
    display: inline-block;
    margin-right: 20px;
    color: #82A0BC;
}

.links li:hover{
    color: #63ADF2;
    cursor: pointer;
}

.post-time{
    font-style: italic;
    font-size: 14px;
    position: relative;
    top:-10px;
    color: #82A0BC;
}

.date-post{
    text-decoration: none;
    color: #82A0BC;
}

.date-post:hover{
    color: #63ADF2;
    cursor: pointer;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    /* font-weight: bold; */
    margin-bottom: 1.5em;
}

.ruler-1{
    width: 3%;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.coffee{
    text-decoration: none;
    color: #82A0BC;
    margin-bottom: 40px;
}


.coffee:hover{
    color: #63ADF2;
    cursor: pointer;
}

.ruler-2{
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px #555; */
}

.recentPostsHeader{
    color: black;
    font-family: 'IBM Plex Sans',Helvetica,sans-serif; 
    
}

#recentPostsSection li{
    list-style-type: none;
    margin-bottom: 5px;
}

#recentPostsSection li a{
    text-decoration: none;
    color: #82A0BC;
    font-size: 19px;
}

#recentPostsSection li a:hover{
    color: #63ADF2;
    cursor: pointer;
}

.bottomStuff a{
    font-size: .8em;
    color: #82A0BC;
    text-decoration: none;
}

.bottomStuff a:hover{
    color: #63ADF2;
    cursor: pointer;
}
